body {
    background-color: #edf2f4;
}

body::-webkit-scrollbar {
    display: none;
}

#navbar-custom {
    background-color: #2b2d42;
}

.post-text {
    text-decoration: none !important;
    color: black;
}

.post-text:hover {
    background-color: rgba(196, 197, 214, 0.15);
}

.post-user-image-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: 2px;
    object-fit: cover;
}

.profile-user-image-thumbnail {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px;
    object-fit: cover;
}